*{
    margin:0;
    padding:0;
}
body {
  font-family: Roboto;
}
.verde {
  height: 30px;
  background: #1cd1b0;
  display: flex;
align-items: center;
}
h1 {
  height: 101px;
  background: #00669f;
  box-shadow: 0px 10px 7px 0px #00000040;
  display: flex;
align-items: center;
padding-left: 28px;
font-size: 40px;
font-weight: 400;

}
.parte_1 {
  width: 300px;
  height: 529px;
  background: #f3f3f3;
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-top:154px;
  margin-bottom:151px;
  box-shadow: 0px 4px 4px 0px #00000040;

}
.corazon {
  position: absolute;
  left: 20px;
  top: 16px;
}
.batman {
  position: absolute;
  left: 90px;
  top: 128px;
  border-radius: 50%;
}
h2 {
  margin-top: 73px;
  text-align: center;
  font-size: 30px;
}
p {
  text-align: justify;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 16px;
}
.boton {
  background: #00669f;
  color: #f3f3f3;
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 48px;
  margin-top: 37px;
  font-size: 15px;
  
}
main{
    padding-left: 31px;
    padding-right: 31px;
}
footer{
    background: #00669F;
height: 51px;
color:#FFF9F9;
display: flex;
align-items: center;
}